pandas==2.2.3
ftfy==6.3.1
diffusers==0.29.0
accelerate==1.4.0
av==14.2.0
scenedetect==0.6.5.2
decord==0.6.0
imageio-ffmpeg==0.6.0
ffmpeg-python==0.2.0
# clip @ git+https://github.com/openai/CLIP.git
# remove later
clip@ git+https://githubfast.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
cpbd==1.0.7
paddlepaddle-gpu==3.0.0 -i https://www.paddlepaddle.org.cn/packages/stable/cu126/
paddleocr==3.1.0
nvidia-nccl-cu12==2.21.5
